.blob2{
    background-image: url(https://images.unsplash.com/photo-1509839862600-309617c3201e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    width: 630px;
    height: 470px;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
    animation: bio-animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes bio-animate {
    0%, 100% {
      border-radius: 30% 70% 50% 50% / 70% 30% 70% 30%;
     
    }
  }
  