.slack {
  position: relative;
}

.orbiting-icon {
  width: 340px;
  height: 340px;
  background-color: #1c0a29;
  border-radius: 50%;
  position: absolute;
  animation: orbit 4s linear infinite;
}

@keyframes orbit {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateY(10px) rotate(360deg);
  }
}
